.title {
	font-size: 1.75em;
	text-align: center;
	padding: 1.25em;
	padding-top: 2em;
	font-weight: 500;
}

p img {
	max-width: 100%;
	height: auto;
	text-align: center;
}

.container {
	text-align: center;
}



.transitmap {
	width: 100%;
	text-align: center;  
  	margin-right: auto;
  	margin-left: auto;
}

.pure-u-1-4  {
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Baskerville", Georgia, Times, "Times New Roman", serif;
}

.container2 {
	margin-left: 12%;
  margin-right: 12%;
}

.container {
  font-family:"Baskerville"; 
  font-size:16px;
  color:#444;
  
  margin-left: 12%;
  margin-right: 12%;
  line-height: 1.35em;
  text-align: justify;
}

/*html, body {
  font-family:"Baskerville"; 
  font-size:16px;
  color:#444;
  
  margin-left: 12%;
  margin-right: 12%;
  line-height: 1.35em;
  text-align: justify;
}*/


p {
	margin: 1em;
	text-align: justify;
}

a:link    {
	color:#000;
	background: #ffdead;
	text-decoration: none;
	}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#000;}  /* mouse over link */
a:active  {color:#000;}